Pre-requisites to install:
sudo apt update
sudo apt-get install vim git python3-pip -y

Python 3 Modules to Install:
click==6.6
requests==2.10.0
selenium==2.53.6
requests-toolbelt==0.7.0

Install all at once with this:
pip3 install click==6.6 requests==2.10.0 selenium==2.53.6 requests-toolbelt==0.7.0

Clone repository into home directory:
git clone https://github.com/gahlberg/fit.git

To make repeatFit.py and repeatFitMalware.py executable without specifying python (./repeatFit.py), perform the following:
[host]$ chmod 777 repeatFit.py 
[host]$ chmod 777 repeatFitMalware.py 

If running older version of python3, something like the following:
sudo apt-get install libssl-dev openssl build-essential
wget https://www.python.org/ftp/python/3.5.0/Python-3.5.0.tgz
tar xzvf Python-3.5.0.tgz
cd Python-3.5.0
./configure
make
sudo make install
